@model IEnumerable<MD.Bidding.Web.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header" ng-include="'/app/views/_common/header.html'"></div>


<aside id="menu" ng-include="'/app/views/_common/navigation.html'"></aside>

<div id="wrapper">
    <div class="content">

            <div id="page-title">
                <h4 class="page-header addon">Accounts</h4>
            </div>

            <ol class="breadcrumb">
                <li><a href="/#/">Dashboard</a></li>
                <li>Accounts</li>
            </ol>

            <div class="clear0"></div>
            <hr />


            <div class="panel panel-default panel-left">
                <div class="panel-body">
                    <h2>
                        Welcome to Integrated Auction and Bidding System
                    </h2>
                    <p>
                        @*<a href="/UsersAdmin/create" class="btn btn-default">
                            <i class="fa fa-fw fa-user"></i>
                            Add new product 
                        </a>*@
                    </p>
                    @*<table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>Last Name</th>
                            <th>
                                Email Address
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>*@
                </div>
            </div>
            
        </div>
    </div>
